* {
	font-family: 'MuseoModerno';
	font-weight: 300;
	color: rgb(255, 255, 255);
}

body {
	background-color: #40535c;
} 

h1 {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: normal;
	margin-top:30px;
	margin-bottom: 10px;
}

main {
	max-width: 400px;
}

input {
	width: 100%;
	height: 35px;
	background-color: #29343a;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	padding-left: 15px;
	margin-top: 20px;
}

input:focus-visible {
	outline: rgb(0, 225, 225) solid 1px;
}

